<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Mappables</title>

  <!--style>
      .error {color:red}
  </style-->
</head>

<body>
  <a th:href="@{/chooseMappable}">Add Mappable</a>

  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Label</th>
        <th>Marker</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="mappable : ${entities}">
        <td th:text="${mappable.shape}" />
        <td th:text="${mappable.name}" />
        <td th:text="${mappable.marker}" />
      </tr>
    </tbody>
  </table>
</body>
</html>